body {
    background-color: #f8fafc;
}

h3 {
    color: #2c3e50;
    font-weight: 700;
}

.card-header {
    background-color: #e3e3e3 !important;
    font-weight: 600;
    font-size: 1.1rem;
}

.card {
    box-shadow: 0 2px 12px rgba(0,0,0,0.07);
    border-radius: 12px;
}

.info-row, .select-district-card {
    margin-bottom: 20px;
}

#select-district-monthly {
    width: 100%;
    max-width: 100%;
    padding: 0px;
    margin-bottom: 20px;
}

#layer-checklist {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

#layer-checklist label {
    cursor: pointer;
    padding: 4px 8px;
}

#layer-checklist input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}
